.contact-content{
    height: 395px;
    height:80vh;
    margin-top: 32px;
    padding: 9px;
    position: relative;
    overflow: hidden;
}
.contact-content::after{
    content: "";
    background-image: url("../img/bg2.jpg");
    position: absolute;
    top:0;
    width:100%;
    height:inherit;
    
    z-index: -1;
}
